{% extends "base.njk" %}

{% block page_title %}Home{% endblock %}

{% block content %}
  <main>
    <h1>Welcome to Graphics in Music</h1>
    <p>This site explores the intersection of music and design.</p>
  </main>
{% endblock %}
